
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap);

.menu{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 800%;
    font-weight: bold
}

.mazedollFont{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.aboutHeader{
    color: azure;
    margin-top: 1%;

    font-size: 300%;
    text-align: center;
}
.aboutMeParagraph{
    margin-left: 5%;
    margin-top: 1%;
    font-size: 150%;

}

.bgDark{
    background-color: #1e1e1e;
}
body{
    background-color: #343a40;
}

.menuButton{
    text-align: center;
}

.menuButton:hover{
    cursor: pointer;
}

.picMemPic{

    max-height: 50%;
}
.attractorSlider{
    font-size: 24px;
}

.lightBlueButton{
    color:black;
    background-color: #b9d3ee;
}



.homeButton::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    right: 105%;
    width: 0;
    height: 2px;
    border-bottom: 10px solid lightblue;
}
.homeButton, .homeButton::after {
    transition: all 0.2s linear;
}
.homeButton:hover::after {
    left: 0;
    width: 100%;
}

.homeButton{

    border: #343a40;
    background: #343a40;

}
.homeButton:hover{
    color: lightblue;
    background: #343a40;
}

.homeButtonLineToText{
    display: inline-block;
}
