@import url(//db.onlinewebfonts.com/c/25c8d3f21fac75e401fe67e5c3878ae4?family=DIN+Next+LT+W01);
@import url(https://fonts.googleapis.com/css2?family=Newsreader:wght@300&display=swap);

.menu{
    font-family: "DIN Next LT W01";
    font-size: 800%;
}
.newsRead{
    font-family: 'Newsreader', serif;
}

.mazedollFont{
    font-family: "DIN Next LT W01";
}
.aboutHeader{
    margin-top: 1%;

    font-size: 300%;
    text-align: center;
}
.aboutMeParagraph{
    margin-left: 5%;
    margin-top: 1%;
    font-size: 150%;

}

.menuHov:hover{
    opacity: 0.5;
    Color: #1e1e1e;
}

.bgDark{
    background-color: #1e1e1e;
}
body{
    background-color: #343a40;
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}